.remote-video {
    width: 300px;
}

.header {
    color: #DCDCDC;
}

.container {
    margin-top: 20px;
}

video {
    width: 40%
}
#onlyPersonMsg {
    display: none;
}

#name-list {
    display: none;
}