#remote-videos {
    display:block;
    margin: 0px;
}

.header {
    color: #DCDCDC;
}

.container {
    margin-top: 20px;
}

video {
    width: 40%;
}
#onlyPersonMsg {
    display: none;
}

#name-list {
    display: none;
}